body {
    font-size: 100%;
    box-sizing: border-box;
    height: 500vh;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 75rem;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}


// Spacing

.padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.p--sm {
    padding: 1rem;
}