@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-size: 100%;
    box-sizing: border-box;
    font-family: "Poppins";
    color: #222;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 75rem;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.btn-primary {
    background-color: $lightPurple;
    border: 1px solid $purple;
}

.btn-primary:hover {
    background-color: $purple;
    border: 1px solid $purple;
}

a, button {
    text-decoration: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

hr {
    width: 50%;
    margin: 3rem auto;
}


// Spacing

.padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.p--sm {
    padding: 1rem;
}