body {
    font-size: 100%;
    box-sizing: border-box;
    height: 200vh;
}

.wrapper {
    max-width: 75rem;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

hr {
    width: 50%;
    text-align: center;
    border-color: #222;
}


