// Navigation
.navbar {
    background-color: hsl(0, 0, 98%);
    margin: 0 0.9375rem;

    .inner-container {

        .main-nav {
            position: absolute;
            top: 4.5rem;
            left: 0;
            color: #000;
            background-color: #fff;
            display: block;
            width: 100%;
            text-align: center;
            display: none;
            padding: 2rem 0.9375rem;
    
    
            li {
                padding-bottom: 0.5rem;
            }
          
        }
    
        .desktop-nav {
    
            li:not(:last-child) {
                padding-right: 1rem;
            }
    
            li {
                padding: 1rem;

                a {
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                    color: #222;
                }
            }
        }

        .d-flex.desktop-nav-list {
            margin: 0;
            padding: 0;
        }
    }
}

// Slider
#slides {
    text-align: center;
    width: 100%;

    .carousel-item {
        justify-content: center;
    }

}

// Jumbotron
.jumbotron {

    @media (min-width: 992px) {
        display: flex;
    }
}

//Fixed background

.fixed-background {
    background: url("../img/mac.png") no-repeat center/cover;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
}


// Team Columns 

.team-columns {

    .item {

        p {
            @media (min-width: 48.0625rem) {
                height: 3.125rem;
                overflow: hidden;
            }
        }
    }
}

// Connect

.connect {

    i {
        font-size: 2rem;

        &:not(:last-child) {
            padding-right: 1rem;

            @media (min-width: 48.0625rem) {
                padding-right: 4rem;
            }
        }

        @media (min-width: 48.0625rem) {
            font-size: 4rem;
        }
    }
}