// Colors

$black: #000;
$lightBlack: #222;
$lighterBlack: #3f3f3f;
$red: #bb0000;
$blue: #3b5998;    
$lightBlue: #2163af;
$lighterBlue: #00aced;
$grayishBlue: #517fa4;
$purple: #563d7c;
$lightPurple: #6648b1;
$orange: #e54d26;
$lightGray: #d5d5d5;
$lighterGray: #e0e0e0;
$white: #fff;
$almostWhite: hsl(0, 0, 98%);
